fathomnet
matplotlib
numpy
opencv_contrib_python
opencv_python_headless
pandas
plotly
pydeck
pytube
Requests
streamlit
tqdm
ultralytics
git+https://www.github.com/keras-team/keras-contrib.git
tensorflow==2.8.0
tensorflow-addons==0.15.0
keras
torch
transformers
Pillow
statsmodels

