fathomnet
matplotlib
numpy
opencv_contrib_python
opencv_python_headless
pandas
plotly
pydeck
pytube
Requests
streamlit
tqdm
ultralytics
git+https://www.github.com/keras-team/keras-contrib.git
tensorflow==2.9.1  # Use a compatible TensorFlow version
tensorflow-addons==0.17.0  # Use a compatible TF Addons version
keras==2.9.0  # Match Keras version
torch
transformers
Pillow
statsmodels

